body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; 
    min-height: 100vh; 

    display: grid;
    place-items: center;
}

.navbar {
  background-color: #333;
  padding: 20px;
  color: white;
  display: flex; 
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  justify-content: center;
}
.titulo  {
  margin: 0;
  font-size: 24px;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  align-self: center;
}

.navbar li {
  list-style: none;
}

.nav-links {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.cambiar-perfil-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
    width: 110%; 
    max-width: 490px; 
    text-align: center;
    box-sizing: border-box;
}

.cambiar-perfil-container h2 {
    margin-top: 0;
    color: #333;
    margin-bottom: 25px;
}

.perfiles {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
}

.perfil-opcion {
    display: flex;
    align-items: center; 
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-decoration: none; 
    color: #333;
    
}

.perfil-opcion:hover {
    background-color: #f5f5f5; 
    border-color: #ccc;
}

.perfil-img {
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 20px; 
}

.perfil-opcion span {
    font-size: 1.2em;
    font-weight: bold;
}